createdAt: "2019-01-28T18:38:53.849Z"
updatedAt: "2019-01-28T18:39:05.509Z"
type: "MARKDOWN_NOTE"
folder: "5344b9527602b628a396"
title: "ESE619 Lecture 3"
tags: []
content: '''
  # ESE619 Lecture 3
  
'''
isStarred: false
isTrashed: false
