createdAt: "2019-01-30T04:48:14.239Z"
updatedAt: "2019-01-30T04:50:22.078Z"
type: "MARKDOWN_NOTE"
folder: "bddf557c57dce5d647e9"
title: "Shrimp meetings"
tags: []
content: '''
  # Shrimp meetings
  
  Agenda for Ariana Meeting:
  * What does she want to do in the future?
    * Interdisciplinary, deep science
    * Immediate/long term
    * academia, grad school
    * Company
    * etc
  * Hours expected to work on this
  * What is previous background experience
    * EE/ME experience
    * SW?
    * Eaglecad?
  * Computer Needs
  * Grad student interaction 
'''
isStarred: false
isTrashed: false
