createdAt: "2019-01-22T20:05:14.286Z"
updatedAt: "2019-01-22T20:35:25.494Z"
type: "MARKDOWN_NOTE"
folder: "bddf557c57dce5d647e9"
title: "Modlab meetings - Spring 2019"
tags: []
content: '''
  # Modlab meetings - Spring 2019
  
  ### 1/22/2019 Leader's Meeting
  Blue mountain skiing feb 2nd
  darpa shrimp project looking for postdoc in March 
  art saks thing grasp - maybe music based thing, tarik previously do that 
  
  grasp directorship - howie might come to do this, don't say anything to cmu, come to the lunch after to chat with him 
  
  meets talks about review - caio is doing the first one, rebecca on feb 19th split with laura
  
  
'''
isStarred: false
isTrashed: false
